.container__cardHotel-skeleton {
  display: flex;
  background-color: white;
  height: 280px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.253);
}

.l-container-skeleton {
  width: 50%;
  border-radius: 5px 0px 0px 5px;
  background-color: white;
  padding: 10px;
}

.content-l-container-skeleton{
 width: 100%;
 height: 100%;
 padding: 7px;
 border-radius: 5px;
 animation: loading 1.5s infinite;
 background: 
  linear-gradient(0.25turn, transparent, #fff, transparent),
  linear-gradient(#eee, #eee),
  radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
  linear-gradient(#eee, #eee);
background-repeat: no-repeat;
}

.r-container-skeleton {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
}

.tr-container-skeleton {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 70px;
  width: 100%;
  border-radius: 0px 5px 0px 0px;
}

.category-name-skeleton {
  background-color: white;
}

.category-name-skeleton {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  background-color: white;
  width: 75%;
  border-radius: 0px 5px 0px 0px;
}

.category-skeleton {
  height: 20px;
  width: 50%;
  border-radius: 5px;
  animation: loading 1.5s infinite;
  background: 
  linear-gradient(0.25turn, transparent, #fff, transparent),
  linear-gradient(#eee, #eee),
  radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
  linear-gradient(#eee, #eee);
background-repeat: no-repeat;
}

.hotel-name-skeleton {
  width: 90%;
  z-index: 100;
  height: 25px;
  border-radius: 5px;
  animation: loading 1.5s infinite;
  background: 
  linear-gradient(0.25turn, transparent, #fff, transparent),
  linear-gradient(#eee, #eee),
  radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
  linear-gradient(#eee, #eee);
background-repeat: no-repeat;
}

.rating-skeleton {
  background-color: white;
  width: 25%;
  padding: 15px;
  border-radius: 0px 5px 0px 0px;
}

.rating-content-skeleton {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  animation: loading 1.5s infinite;
  background: 
  linear-gradient(0.25turn, transparent, #fff, transparent),
  linear-gradient(#eee, #eee),
  radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
  linear-gradient(#eee, #eee);
background-repeat: no-repeat;
}

.container-location-skeleton {
  display: flex;
  flex-direction: row;
  padding: 8px 0px 8px 15px;
  height: 50px;
  background-color: white;
}

.content-location-skeleton{
  height: 80%;
  width: 80%;
  border-radius: 5px;
  animation: loading 1.5s infinite;
  background: 
  linear-gradient(0.25turn, transparent, #fff, transparent),
  linear-gradient(#eee, #eee),
  radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
  linear-gradient(#eee, #eee);
background-repeat: no-repeat;
}

.wifi-swim-skeleton{
  display: flex;
  background-color: white;
  height: 40px;
  width: 90%;
  padding: 0px 0px 0px 15px;
}

.content-wifi-swin-skeleton{
  height: 60%;
  width: 60%;
  border-radius: 5px;
  animation: loading 1.5s infinite;
  background: 
  linear-gradient(0.25turn, transparent, #fff, transparent),
  linear-gradient(#eee, #eee),
  radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
  linear-gradient(#eee, #eee);
background-repeat: no-repeat;
}

.description_cardHotel-skeleton{
  height: 60px;
  width: 100%;
  padding: 0px 15px 0px 15px;

}

.content-description-skeleton{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  animation: loading 1.5s infinite;
  background: 
  linear-gradient(0.25turn, transparent, #fff, transparent),
  linear-gradient(#eee, #eee),
  radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
  linear-gradient(#eee, #eee);
background-repeat: no-repeat;
}

.conteiner-button-skeleton{
  height: 50px;
  width: 100%;
  padding: 10px 15px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content-button-skeleton{
  border-radius: 5px;
  width: 100%;
  height: 80%;
  animation: loading 1.5s infinite;
  background: 
  linear-gradient(0.25turn, transparent, #fff, transparent),
  linear-gradient(#eee, #eee),
  radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
  linear-gradient(#eee, #eee);
background-repeat: no-repeat;
}

/* --- Mobile --- */

@media (max-width: 600px) {
  .container__cardHotel-skeleton{
    flex-direction: column;
    height: 550px;
  }

.l-container-skeleton {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0px 0px;
}

.r-container-skeleton{
  width: 100%;
  height: 50%;
}
}


@keyframes loading {  
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}